<!-- Start page sidebar wrapper -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar" style="position: fixed">
        <ul class="page-sidebar-menu  page-header-fixed" style="background-color:white ;">
            <br>
            <li ng-show="!checkusr" class="nav-item" ui-sref-active="active">
                <a class="nav-link" ui-sref="dashboard" style="margin-top: -38px;">
                    <i class="fa fa-th-large"></i>
                    <span class="title">Inventory Management Dashboard</span>
                </a>
            </li>
            <li ng-show="!checkusr" class="nav-item" ui-sref-active="active">
                <a class="nav-link" >
                    <i class="fa fa-spinner" style="color:black;"></i>
                    <span class="title" style="font-family: raleway;color: black;font-size: 22px;">Sales</span><span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li ng-show="!checkusr" class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="customer">
                            <i class="fa fa-address-book"></i>
                            <span class="title" style="font-size: 18px;"><strong>Customer Registration</strong></span>
                        </a>
                    </li>
                    <li ng-show="!checkusr" class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="orderproducts">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="title" style="font-size: 18px;"><strong>Order Products</strong></span>
                        </a>
                    </li>
                    <li ng-show="!checkusr" class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="payments">
                            <i class="fa fa-money"></i>
                            <span class="title" style="font-size: 18px;"><strong>Payments</strong></span>
                        </a>
                    </li>
                </ul>

            </li>
            <br>
            
            <!-- <li ng-show="!checkusr" class="nav-item" ui-sref-active="active">
                <a class="nav-link" ui-sref="fooddistrbtn">
                    <i class="fa fa-user-o" style="color:black;"></i>
                    <span class="title" style="font-family: raleway;color: black;font-size: 22px;">Contcts Report</span>
                </a>
            </li> -->
        </ul>
    </div>
</div>
</div>
<style>
    .page-sidebar .page-sidebar-menu>li.active>a {

        background: #a8c0ff !important;
    }


    .page-sidebar .page-sidebar-menu>li:hover>a {
        background: white;

    }

    .page-sidebar,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
        z-index: 1;

    }
</style>